html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main
{
    display: none;
}

#pause-msg
{
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
